{% extends 'base.html' %}

{% block content %}
<section class="bg-sky-900 min-h-screen py-10">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6 px-4">
        {% for peli in encrypted_todos %}
        <!-- Tarjeta de Película -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden transform transition duration-300 hover:scale-105">
            <a href="{% url 'detailpeli' peli.encrypt_key %}">
                <img src="{{ peli.imagen }}" alt="{{ peli.nombre }}" class="w-full h-64 object-cover object-center">
            </a>
            <div class="p-4 text-center">
                <h3 class="text-lg font-bold text-gray-800">{{ peli.nombre|truncatechars:26 }}</h3>
                <a href="{% url 'detailpeli' peli.encrypt_key %}" class="inline-block mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 shadow-md">
                    <i class="fa-solid fa-eye"></i>
                    Ver más
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
