{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="main">
    <h1>
      Peliculas y series
      ilimitadas
      <br> 
      en un solo lugar
    </h1>
    <p>Disfruta donde quieras.<br>
    Cancela cualquier momento.</p>
    <a href="#">Registrate</a>
</main>
<section>
    <div class="container">
      <h2>¿Qué estas buscando para ver?</h2>
      <form>
        <input class= "Buscar"type="text"
        placeholder="Buscar.."
        name="Buscar">
        <input class="no" type="submit"
        value="Buscar">
      </form>
    </div>
    <div class="Peliculas">
      <h3>Las tendencias de hoy</h3>
      <div class="pelis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  <div class="container-animation">
    <h3 class="aclamadas">Las mas aclamadas</h3>
    <div class="Pelicula Mas">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>

{% endblock content %}


