<nav class="bg-pink-500/60 p-4">
  <div class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-white font-bold text-lg">GlogloPelis</a>
      <ul class="flex space-x-7">
          <li><a href="/" class="text-white font-semibold ">Inicio</a></li>
          <li><a href="{% url 'peliculas' %}" class="text-white font-semibold">Películas</a></li>
          <li><a href="{% url 'series' %}" class="text-white font-semibold">Series</a></li>
          
          
          
          
            
            
          <li><a href="" class="text-white font-semibold">Contactanos</a></li>
          
          {% if user.is_authenticated %}
          <li><a href="{% url 'profile' request.user %}" class="text-white font-semibold">
            {{ request.user.username|slice:":10" }}
        </a>
        </li>
            <li class="relative">
              <div class="h-6 w-6 rounded-full overflow-hidden bg-gray-500 flex items-center justify-center">
                  <a href="{% url 'profile' request.user %}"><img src="https://i.pinimg.com/736x/de/63/9e/de639e327902c1dc449fd53b157d7e71.jpg" alt="Foto de perfil" class="h-full w-full object-cover"></a>
              </div>
            </li>
          <li><a href="{% url 'salir' %}" class="text-white"><i class="fa-solid fa-right-to-bracket"></i> salir</a></li>
          {% else %}
          <li><a href="{% url 'register' %}" class="text-white"><i class="fa-solid fa-user-plus font-semibold"></i>crear cuenta</a></li>
          <li><a href="{% url 'login' %}" class="text-white"><i class="fa-solid fa-right-to-bracket font-semibold"></i>  ingresar</a></li>
          {% endif %}
            
      </ul>
  </div>
</nav>
