
<header>
    <nav>
      <a href="/">CAC-Movies</a></h2>
      <ul class="header ul">
        <li><a href="#">Tendencias</a></li>
        <li><a href="#">{{request.user}}</a></li>
        {% if user.is_authenticated %}
        <li ><a class="diferente"href="{% url 'salir' %}">salir</a>
        {% else %}

          <li><a href="{% url 'register' %}">Registrarte</a></li>
          <li ><a class="diferente"href="{% url 'login' %}">Iniciar Secion</a>
            
        {% endif %}
          
        </li>
      </ul>
    </nav>
  </header>


